body
  width: 100%
  margin: 0

.homepage
  margin: 0 auto
  width: 1170px

.top, .main
  font-family: 'Lato', sans-serif
  padding: 0 1rem

.top
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: auto

.header-1
  display: flex
  flex-direction: column
  div
    padding: 1rem

.header-2
  justify-self: center
  text-align: center
  div
    padding: 1rem
  display: flex
  flex-direction: column

.header-3
  justify-self: end
  text-align: right
  div
    padding: 1rem
  display: flex
  flex-direction: column

.menu
  grid-column: 1/4
  ul
    display: flex
    list-style-type: none
    padding: 0 1rem
    justify-content: center
  li
    margin-left: 2rem
    text-transform: uppercase

.logo
  font-weight: 700
  font-size: 2.5rem
  text-align: center

.slider
  display: grid
  grid-template-columns: auto auto
  grid-gap: 30px

.slider-img-1
  background-color: #ccc
  grid-row:1/3
  height: 576px
  width: 870px

.slider-img-2
  background-color: #ccc
  height: 328px
  width: 270px

.slider-img-3
  background-color: #333
  height: 220px
  width: 270px

.divider
  margin: 30px 0
  width: 100%
  height: 1px
  background-color: #ccc

.promotions
  display: grid
  grid-template-columns: auto auto
  grid-column-gap:30px

.holder-1
  grid-row: 1/3

.promotions-img-1
  background-color: #ccc
  height: 672px
  width: 470px
.promotions-img-2
  background-color: #ccc
  height: 246px
  width: 670px
.promotions-img-3
  background-color: #ccc
  height: 352px
  width: 670px

.blog
  display: flex

.blog-img-1
  background-color: #ccc
  height: 255px
  width: 370px
  flex: 1
  margin: 30px 15px
  display: flex
  flex-direction: column
  justify-content: end

.blog-info
  display: flex

.title
  font-size: 2rem
  font-family: 'Montserrat', sans-serif
  padding: 1rem
  font-weight: 700
  text-align: center
  color: #000
  text-transform: uppercase

.title-sub
  font-size: 1rem
  font-family: 'Lato', sans-serif
  text-align: center
  font-weight: 500
  color: #999

.font-normal
  font-size: 1.5rem

.font-small
  font-size: 1rem

h1
  margin: 0
p
  margin: 0

.subscribe
  margin: 0 auto
  display: flex
  flex-direction: column
  align-items: center

.form-div
  width: 570px
  border: 1px solid #ccc
  margin: 2rem
  padding: 10px
  text-align: center
  form
    height: 100%
    display: flex
    input
      border: none
      flex: 1
    button
      background-color: #333
      color: #fff
      border: none
      padding: 0.2rem 1.2rem
      font-weight: 700
      font-family: 'Lato', sans-serif
      font-size: 0.9rem
      text-transform: uppercase
      cursor: pointer

.footer
  display: flex

.footer-col
  flex: 1
  margin: 2rem
  text-align: left
  ul
    margin: 1rem 0
    padding: 0
    list-style-type: square
    font-family: 'Lato', sans-serif
    li
      color: #999
      margin: 1rem
      font-size: 0.9rem
  h1
    padding: 1rem 0
    text-align: left
    text-transform: uppercase
  .logo
    text-align: center

.footer-col:nth-of-type(4)
  ul
    list-style-type: none

.copyright-area
  text-align: center
  margin-bottom: 2rem
  .copyright
    color: #999
    span
      color: #000
      font-family: 'Lato', sans-serif
      font-weight: 700

