body
  width: 100%
  height: auto
  margin: 0

.home-simple 
  width: 90%
  margin: 0 auto
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 1rem
  grid-template-rows: auto auto auto auto auto

.top, .body
  font-family: roboto
  padding: 0 1rem

.top
  grid-column: 1 / 5

.header
  display: flex
  justify-content: space-between
.header:nth-of-type(2) div 
  padding: 2rem 0rem

.header:nth-of-type(2)
  border-bottom: 1px solid #ccc

ul
  display: flex
  list-style-type: none

ul
  justify-content: center

.menu li
  margin-left: 2rem
  text-transform: uppercase

.logo
  font-weight: 700
  font-size: 2.5rem

.body
  grid-column: 1/5

.slider
  display: grid
  grid-template-columns: 2fr 1fr
  grid-gap: 1em
  

.slider-img-1
  background-color: red

.slider-img-2
  background-color: blue

.slider-img-3
  background-color: green
