section {
    background: #fff;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

div {
    background-color: red;
    width: 100px;
    margin: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 0 20px 0 0;
}

header {
    background-color: black;
    color: white;
}

footer {
    background-color: black;
    color: white;
}
